/*Set the background of all pages to nearly white*/
body
{
     background: #F0F0F0;    
}

#page
{
    padding-bottom: 50px;
}

/*Anything relating to the brizzlebears*/
.bears
{
    background: #be0000 !important;
}

/*Anything relating to the brizzlebees*/
.bees
{
    background: #ffdb19 !important;
    color: #202020 !important;
}

.fixture
{
    background: #01579B !important;
}

.media
{
    background: #4CAF50 !important;
}

/*Set the background image*/
#background
{
    background-image: url("media/header_image.jpg"); 
    alt: "Club Photo";    
}

/*Set the player background TO BE REPLACED WITH BACKEND*/
#player-background
{
    background-image: url("media/player_background.jpg"); 
    alt: "Player Background";
}

/*Define a background which fills the whole page*/
.full-bleed
{    
    position: absolute;
    top: 0px;
    bottom:0px;  
    background-position-x: center;
}

/*Define a full width background*/
.background
{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Make grids fill their parents*/
.mdl-grid
{
    margin: 0px 0px 15px 0px;
    padding: 0;
}

/*Make cards white*/
.mdl-card
{
    background-color: white !important;
}
.mdl-card--actions
{
    height: 10%;
}

/*Format the club and team logos*/
.logos
{
    text-align: center;
    margin-top: -34px;
}

/*All main content starts and ends with a small space*/
.main-content 
{
	margin-top: 30px;
	margin-bottom: 30px;
}

/*The first item of a horzontal scroller has a space at the start*/
.first-item
{
    margin-left: 8px;
}

/*A single card page where the card contains all content*/
.main-card
{
    width:100%; 
    margin-bottom:50px;
}

/*One of the summary sections on the main page*/
.section
{
	height: 420px;
    margin-top: 30px;
    background: #F0F0F0; 
    position: relative;
    overflow: hidden;
} .news { padding: 0px 12px 0px 12px; }

/*The header for one of the main pages summary sections*/
.section-header
{    
    display: flex;
    height: 15%;
    width: 100%;
}
.section-header > h6
{
    height: 100%;
    display: flex;
    align-items: center;
    color: #606060;    
	font-size: 14pt;
	font-weight: 500;
	margin-left: 6px;
}
.section-content
{
    height: 85%;
}

.news { height: auto; } .news > .section-header { height: 50px; }

/*A button to let the user click to scroll left or right*/
.horizontal-button
{
    top: 50%;
    position: absolute;
    z-index: 2;
    background-color: red !important;
    color: white !important;
}

/*An arrow which points forwards*/
.forwards
{    
    float: right;
    right: 5%;
}

/*An arrow which points backwards*/
.backwards
{  
    visibility: hidden;  
    float: left;
    left: 5%;
}

/*A container in which content only scrolls horizontally*/
.horizontal-scrollviewer
{
    position: relative;
    overflow-x:scroll;
    overflow-y:hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 26px;
}

/*A container in which content stacks horizontally (The inner div of a scrollviewer)*/
.horizontal-stackpanel
{
    height: 100%;
    white-space: nowrap;
}

/*Any header for an item which is at the bottom of the item*/
.item-header
{
    position: absolute;
    bottom: 0;
    z-index: 2;
    line-height: 30px;
    width: 90%;
    font-size: 14pt;
    font-family: Roboto;
    padding: 3% 5% 3% 5%;
    margin: 0;
}

/*The headline of a news item*/
.news-item > h2, .fixture-item > h2
{
    text-align: left;
    background: #202020;
    color: white;
    opacity: 0.7;
}

/*An item containing a player*/
.squad-item, .fixture-item, .media-item
{
    display: inline-flex; 
    flex-direction: row;
    background: white;
    position: relative;
}

/*Specific formatting for if its in a scrollviewer or a grid*/
.horizontal-stackpanel > .fixture-item { width: 300px !important; }
.horizontal-stackpanel > .media-item { width: 605px !important; }
.horizontal-stackpanel > a, .horizontal-stackpanel > div:not(.padding)
{
    margin: 0px 30px 0px 0px;
    width: 225px;
    height: 100%;
    padding: 0px;
}
.mdl-grid > .squad-item { height: 300px; }
.mdl-grid > .fixture-item { height: 340px; }
.mdl-grid > .media-item { height: 370px; }

.fixture-item > div
{
    position: absolute;
    width: 100%;
    height: 77%;
}

.fixture-content
{
    position: absolute;
    top: 20%;
    bottom: 20%;
    height: 60%;
    width: 100%;
}

.team-label
{
    position: absolute;
    color: #202020 !important;
}

.badge-container
{
    max-width: 70%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.badge
{
    height: 30px;
    margin: 6px 8px 6px 8px;
}

.team-logos { position: absolute; }

.team-logo, #versus
{
    background-size: contain;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    vertical-align: middle;
    width: 40%;
    height: 100%;
}

#versus
{
    width: 10%;
    height: 10% !important;
    margin: 26% 45%;
    height: auto;
    text-align: center;
    color: #202020 !important;
}

.team1 { left: 18px; }

.team2 { right: 18px; }

#team1Name { top: 18px; }

#team2Name { bottom: 18px; }

.versus 
{ 
    margin: auto;
    color: #202020 !important; 
}

/*The image of the player*/
.squad-item > div
{
    width: 90%;
    height: 90%;
    margin: 5%;
    position: absolute;
    background-position: top;
    background-size: cover !important;
    background-color: transparent !important;
}

/*The name of the player*/
.squad-item > h2, .fixture-item > h2, .media-item > h2
{
    text-align: center;
    color: white;
    background: #505050;
}

.video
{
    position: absolute;
    height: 100%;
}

.hero-image
{
    height: 280px;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.fixture-header
{
    display: inline-flex;
    height: 100%;
}

.fixture-header-image
{
    height: 65%;
    width: 32%;
    margin: auto 0px;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
}

#fixture-team1 { background-image: url("media/teams/brizzlepuffs.png"); }
#fixture-team2 { background-image: url("media/teams/durham.png"); }

.score
{
    width: 38%;
    margin: auto 0px;
    color: white;
}

/*A rich image of the player in action*/
#player-image { background-image: url("media/tom_rich.jpg"); }
#fixture-image { background-image: url("media/fixture_image.jpg"); }
.news-image { background-image: url("media/news_image_1.jpg"); height: 300px; }

.padding
{
    height:100%;
    width: 15%; 
    display:inline-flex;
}

a
{
	color: transparent
}

/*Centers a piece of content*/
.centered
{
    width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
